// -----------------------------------------------------------------------------
// This file contains all styles related festivities banners and animations.
// -----------------------------------------------------------------------------

.christmas-banner {
  margin-bottom: 40px;

  &-mobile {
    width: 100%;
  }
}

.festivity-image {
  width: 280px;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 3;
  pointer-events: none;

  @media (max-width: 991.98px) {
    width: 180px;
  }
}
