// -----------------------------------------------------------------------------
// This file contains all styles related to the table component.
// -----------------------------------------------------------------------------

.table {
  width: 100%;
  margin-bottom: 0;
  font-family: "ubuntu-mono", monospace;

  > :not(caption) > * > * {
    background-color: unset !important;
  }

  @media (max-width: 991.98px) {
    width: 100%;
  }
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: var(--table-odd);
}

.table-striped tbody tr:nth-of-type(even) {
  background-color: var(--table-even);
}

.table td,
.table th {
  color: var(--text-primary) !important;
  padding: 1px 40px 1px 15px;
  border-top: 5px solid var(--background-body);
  border-bottom: 0;
  white-space: nowrap;

  &:last-of-type {
    padding-right: 5px;
  }

  @media (max-width: 991.98px) {
    padding: 1px 15px;
  }
}

.table tbody {
  border-style: none;
}
