---
const { name, title, starLabels, selectedDefault } = Astro.props;

const selectedNum = parseInt(selectedDefault);
---

<star-selector>
  <h6 class="small my-2">{title}</h6>

  {
    starLabels.map((label, index) => (
      <label>
        <input
          name={name}
          type="radio"
          value={index}
          data-label={label}
          {...(index == selectedNum ? { checked: true } : {})}
        />
        <span
          class:list={[
            "star-scale",
            "m-1",
            { "text-highlight": index <= selectedNum }
          ]}
        >
          ★
        </span>
      </label>
    ))
  }
  <span class="star-label" class="pl-3">{starLabels[selectedNum]}</span>
</star-selector>
