<!-- Read more -->
<div class="pt-5 d-print-none">
  <h3 class="h3 mb-5 mt-5 bold pr-5">
    Resources for the community & developers
  </h3>

  <div class="row">
    <div class="col-lg-6">
      <ul>
        <a
          href="https://ubports.com/blog/ubports-news-1/post/we-need-you-to-help-test-our-releases-3781"
          target="_blank"
        >
          <li class="btn-wide">
            <h4 class="h6 bold pb-2">Test the lastest release ⭐</h4>
            <span>For testers and professional QA</span>
          </li>
        </a>

        <a
          href="https://ubports.gitlab.io/teams/marketing/education/ub-clickable-1/index.html"
          target="_blank"
        >
          <li class="btn-wide">
            <h4 class="h6 bold pb-2">Build an app 🧰</h4>
            <p>A beginner guide for early days developers</p>
          </li>
        </a>
        <a
          href="https://docs.ubports.com/en/latest/userguide/dailyuse/index.html"
          target="_blank"
        >
          <li class="btn-wide">
            <h4 class="h6 bold pb-2">User Manual 📄</h4>
            <p>Supports some apps.</p>
          </li>
        </a>
        <a href="https://t.me/ut_troubleshooting" target="_blank">
          <li class="btn-wide">
            <h4 class="h6 bold pb-2">Troubleshoot 🛠</h4>
            <p>Updated constantly.</p>
          </li>
        </a>
      </ul>
    </div>
  </div>
</div>
